<div class="mat-elevation-z8">
    <button class="btn_new" mat-raised-button (click)="openDialogNew('0ms', '0ms')">Nueva Embarcación</button> 

    <table mat-table [dataSource]="dataSource">
  
      <!-- nombre Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
  
      <!-- posicion Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> Posicion </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>
  
      <!-- destino Column -->
      <ng-container matColumnDef="destination">
        <th mat-header-cell *matHeaderCellDef> Destino </th>
        <td mat-cell *matCellDef="let element"> {{element.destination}} </td>
      </ng-container>
  
      <!-- direccion Column -->
      <ng-container matColumnDef="direction">
        <th mat-header-cell *matHeaderCellDef> Dirección </th>
        <td mat-cell *matCellDef="let element"> {{element.direction}} </td>
      </ng-container>
  
      <!-- delete Column -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element"><button mat-raised-button (click)="openDialogDelete('0ms', '0ms', element)"  matTooltip="Eliminar embarcación"><mat-icon>delete</mat-icon></button></td>
      </ng-container>

      <!-- delete Column -->
      <ng-container matColumnDef="update">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element"><button mat-raised-button (click)="openDialogUpdate('0ms', '0ms', element)"matTooltip="Actualizar embarcación"><mat-icon>update</mat-icon></button></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>

  